<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button *ngIf="role == 'superuser' || role =='maker'" pButton pRipple label="Upload" icon="pi pi-plus" class="p-button-success mr-2" (click)="uploadBatch()"></button>
                        <button *ngIf="role == 'superuser' || role == 'maker'" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteConfirmDialog()" [disabled]="multipleDeleteIds.length === 0 || !multipleDeleteIds"></button>
                        <button *ngIf="role == 'superuser' || role == 'approver'" pButton pRipple label="Approve" icon="pi pi-check-circle" class="p-button-success mr-2" (click)="approveConfirmDialog()" [disabled]="multipleDeleteIds.length === 0 || !multipleDeleteIds"></button>
                        <button *ngIf="role == 'superuser' || role == 'approver'" pButton pRipple label="Reject" icon="pi pi-times" class="p-button-danger mr-2" (click)="rejectConfirmDialog()" [disabled]="multipleDeleteIds.length === 0 || !multipleDeleteIds"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export CSV" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt 
            [value]="batchs" 
            [lazy]="true" 
            [sortField]="sortField"
            (onLazyLoad)="loadBatchs($event)" 
            (selectionChange)="onSelectionChange($event)"
            [totalRecords]="totalBatchs"
            (onRowSelect)="onRowSelected($event)"
            [loading]="loading"
            [columns]="cols"
            responsiveLayout="scroll"
            [rowsPerPageOptions]="rowPerPageOptions"
            [rows]="10"
            [globalFilterFields]="['batchName']" 
            [paginator]="true"  
            [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            selectionMode="multiple" 
            [rowHover]="true" 
            dataKey="funderStatementBatchId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Funder Statement Batch</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Cari Nama Batch"  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="center-table">
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="batchName">Nama Batch <p-sortIcon field="batchName"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="totalFunderFile">Total File <p-sortIcon field="totalFunderFile"></p-sortIcon></th>
                        <th pSortableColumn="totalSent">Total Terkirim <p-sortIcon field="totalSent"></p-sortIcon></th>
                        <th pSortableColumn="totalRejected">Total Ditolak <p-sortIcon field="totalRejected"></p-sortIcon></th>
                        <th pSortableColumn="totalBlacklisted">Total Blacklisted <p-sortIcon field="totalBlacklisted"></p-sortIcon></th>
                        <th pSortableColumn="createdBy">Dibuat Oleh <p-sortIcon field="createdBy"></p-sortIcon></th>
                        <th pSortableColumn="createdAt">Tanggal Dibuat <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-batch>
                    <tr class="data-tr">
                        <td>
                            <p-tableCheckbox [value]="batch"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nama Batch</span>
                            {{batch.batchName}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (batch.status ? batch.status.toLowerCase().replace(' ','') : '')">{{batch.status}}</span>
                        </td>
                        <td style="width:14%; min-width:10rem;text-align:center;">
                            <span class="p-column-title">Total File</span>
                            {{batch.totalFunderFile}}
                        </td>
                        <td style="width:14%; min-width:8rem;text-align:center;">
                            <span class="p-column-title">Total Terkirim</span>
                            {{batch.totalSent}}
                        </td>
                        <td style="width:14%; min-width:10rem;text-align:center;">
                            <span class="p-column-title" style="text-align:center;">Total Ditolak</span>
                            {{batch.totalRejected}}
                        </td>
                        <td style="width:14%; min-width: 10rem;text-align:center;">
                            <span class="p-column-title" style="text-align:center;">Total Blacklisted</span>
                            {{batch.totalBlacklisted}}
                        </td>
                        <td style="width:14%; min-width: 10rem;text-align:center;">
                            <span class="p-column-title" style="text-align:center;">Dibuat Oleh</span>
                            {{batch.createdBy}}
                        </td>
                        <td style="width:14%; min-width: 10rem;text-align:center;">
                            <span class="p-column-title" style="text-align:center;">Tanggal Dibuat</span>
                            {{batch.createdAt | date: 'dd-MM-yyyy HH:mm'}}
                        </td>
                        <td>
                            <div class="flex">
                                <button [disabled]="batch.status.toLowerCase() !== 'reviewed'" pButton pRipple icon="pi pi-external-link" class="p-button-rounded p-button-warning" (click)="onDetail(batch.funderStatementBatchId)"></button>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBatch(batch)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="batchDialog" [draggable]="false" [style]="{width: '720px'}" header="Upload Funder Statement Batch" [modal]="true" [closeOnEscape]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <h5>Template Email Name</h5>
                    <p-autoComplete [(ngModel)]="selectedTemplateAdvanced" [suggestions]="filteredTemplates" (onSelect)="onSelectedTemplate($event)" (completeMethod)="filterTemplate($event)" field="templateName" [dropdown]="true">
                    </p-autoComplete>
                </div>
                <div class="field">
                    <p-fileUpload mode="advanced" accept=".xlsx" [maxFileSize]="maxFileSize" cancelLabel="Hapus" (onRemove)="onUnselectedFile($event)" [showCancelButton]="true" [showUploadButton]="false" (onSelect)="onGetFile($event)" chooseLabel="Pilih File"></p-fileUpload>
                    <label style="margin-top: 5px;margin-left: 5px" for="status">Hanya dapat upload file .xlsx</label>
                </div>
            </ng-template>  

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Upload" icon="pi pi-check" class="p-button-text" (click)="uploadBatchFile()" [disabled]="!selectedTemplateId || multipartFile === null"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBatchDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="batch">Apakah Anda yakin akan menghapus batch <b>{{batch.batchName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBatchDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteBatchsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Apakah Anda yakin akan menghapus item yang dipilih?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBatchsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"  (click)="deleteSelectedBatchs()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="approveBatchsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Apakah Anda yakin akan meng-Approve item yang dipilih?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="approveBatchsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"  (click)="approveBatch()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="rejectBatchsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Apakah Anda yakin akan Reject item yang dipilih?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="rejectBatchsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"  (click)="rejectBatch()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
